.bg1 {
    background: rgb(207, 220, 238);
    background: linear-gradient(90deg, rgba(207, 220, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    min-height: 100vh;
    .color1{
        color: #1976d1;
    }
}
.questionImage {
    img {
        max-width: 600px;
    }
   
}
.timer{
    background: #d6e1e5;
    padding: 10px 20px;
    border-radius: 1px;
}
